/****************************************************elements********************************/
body {
  text-align: center;
  color:#40514E;

}

h1 {
  margin-top: 0;
  font-family: 'Neucha', serif;
  font-size: 4.5rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Sacramento', serif;
  font-size: 3.5rem;
  color: #66BFBF;
}

h3 {
  color: #11999E;
  font-size: 2rem;
  font-family: 'Neucha', serif;


}

a {
  color: #11999E;
}
p{
  line-height: 2;
  font-size: 1.1rem;

}

hr{
  border-style: dotted none none none;
  border-top: 10px dotted #d3dbdb;
  width:5%;

}

span{
  margin-right: 1rem;
}

/****************************************************classes********************************/
.top-container {
  /* nice color#cbf1f5*/
  background-color: #EAF6F6;
  position: relative;
}



.cloud1 {
  position: absolute;
  right: 300px;
  top: 50;
}

.cloud2 {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.sleepy-cat{
  width:20%;
}

.skill-row {
  position: relative;
  width: 70%;
  margin: 100px auto;
  text-align: left;
}

.intro{
  text-align: center;
  width: 30%;
  margin: auto auto 7% auto;

}
.image-tool {
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 70px;

}

.image-html {
  width: 25%;
  float: right;
  margin-left: 20px;

}

.myButton {
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:12px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:13px 19px;
	text-decoration:none;
	text-shadow:1px 0 8px #5b6178;
}

.myButton:active {
	position:relative;
	top:1px;
}

.myButton {
background-color:#33bdef;
border-radius:8px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:16px;
padding:13px 15px;
text-decoration:none;
}
.myButton:hover {
background-color:#019ad2;
}
.myButton:active {
position:relative;
top:1px;
}

.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}

.h2-tobec{
  text-align: center;
}

.contact-me{
  margin:auto auto 5% auto;
}

.bottom-container{
  background-color:#66BFBF;
  overflow:hidden;
}

.footer-link{
  text-decoration: none;
  font-size: 20px;
  font-family: 'Patrick Hand', serif ;

}
.trademark{
  color: #EAF6F6;
  font-size: 1rem
}

/****************************************************ID's********************************/
